## row_number

> Gives a **unique** sequential number for eah row in the specified data.

In [ ]:
SELECT Studentname, 
       Subject, 
       Marks, 
       ROW_NUMBER() OVER(ORDER BY Marks) RowNumber
FROM ExamResult;

<img src= "/Users/rajat_mac/Documents/SomethingNewDaily/images/row_number.png"/>

## rank

> Same as row_number but not unique. See example for more details.

In [ ]:
SELECT Studentname, 
       Subject, 
       Marks, 
       RANK() OVER(ORDER BY Marks DESC) Rank
FROM ExamResult
ORDER BY Rank;

<img src= "/Users/rajat_mac/Documents/SomethingNewDaily/images/rank.png"/>

## dense_rank

> Excatly similar as rank but it doesn't miss a rank.  

Ex: If 2 people tie at rank 4, the next rank would be 5 and not 6.

In [ ]:
SELECT Studentname, 
        Subject, 
        Marks, 
        RANK() OVER(PARTITION BY StudentName ORDER BY Marks ) Rank
FROM ExamResult
ORDER BY Studentname, 
        Rank;


SELECT Studentname, 
        Subject, 
        Marks, 
        DENSE_RANK() OVER(PARTITION BY StudentName ORDER BY Marks ) Rank
FROM ExamResult
ORDER BY Studentname, 
        Rank;

<img src= "/Users/rajat_mac/Documents/SomethingNewDaily/images/dense_rank.png"/>